



/*--------------------------------------------Special paddings/margins/text*/





/*--------------------------------------------Heading*/

header {
    border-bottom: 5px solid #594545;
    height: 130px;
}

.bg-color-header {
    background-color: #fff8ea;
}

.logo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 200%;
    color: #594545;
    margin-left: 15px;
    margin-top: 10px;
}

.navbar-nav .menuitem  {
    font-family: "Lato", sans-serif;
    font-size: 120%;
    color: #594545;
    margin-left: 20px;
    margin-top: 10px;
  }

.navbar-nav .menuitem.active {
    color: rgb(158, 118, 118);
}

.menuitem:hover {
    color: rgb(158, 118, 118);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo {
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    #navbarNav {
        text-align: center;
        margin: 0 auto;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
    
      .navbar-nav .menuitem {
        margin: 0 10px;
        font-size: 80%;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) 

Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) 

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) 

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) */